.checkoutSection{
    padding: 40px 40px;
    color: darkmagenta;
    font-weight: bold;
    letter-spacing: 4px;
}
.checkoutPageHeader .underline{
    width: 140px;
}
.checkoutContainer{
    padding: 20px 20px;
}
.checkoutContainer .checkoutForm fieldset{
    border: gray 2px solid;
    margin: 30px 0;
    width: 1000px;
    padding: 20px;
}
.checkoutContainer .checkoutForm legend{
    color: #333333;
    font-weight: bold;
    letter-spacing: 3px;
}
.checkoutContainer .checkoutForm .label{
    float: left;
    color: #666666;
    font-style: normal;
    padding: 5px;
    margin-bottom: 20px;
}
.checkoutContainer .checkoutForm .textInput{
    float: right;
    width: 70%;
    margin-bottom: 20px;
}
.checkoutContainer .checkoutForm .submitContainer{
    width: 85%;
    padding: 20px;
    text-align: center;
}
.checkoutContainer .checkoutForm .submitContainer input{
    width: 400px;
    background: orangered;
    color: whitesmoke;
    font-weight: bold;
    height: 45px;
    border: 0px;
    border-radius: 4px;
}
