*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.underline{
    height: 3px;
    background: brown;
    width: 24.2%;
    margin: 5px 0;
}
.underline-tertiary{
    height: 2px;
    background: forestgreen;
    width: 90%;
    margin: 1px 0;
}
h1{
    font-weight: bold;
    font-size: 1.25em;
    color: #0d8c5d;
    letter-spacing: 4px;
}
h2{
    font-weight: bold;
    font-size: 1.5em;
}
h3{
    font-weight: bold;
    font-size: 1em;
    color: mediumvioletred;
    letter-spacing: 3px;
}

h4{
    font-weight: bold;
    font-size: 1em;
}
.clear{
    clear: both;
}
.primaryNavigation{
    background: white;
    width: 100%;
    height: 60px;
    z-index: 1000;
}
.primaryNavigation .navigationContainer{
    padding: 5px 80px 5px 80px;
    position: relative;
}
.primaryNavigation .navigationContainer .logoContainer{
    font-weight: bold;
    font-size: 1.5em;
    position: absolute;
    left: 80px;
    letter-spacing: 5px;
    color: #0db07a;
    padding: 18px 15px 15px 0;
}
.primaryNavigation .navigationContainer .headerControls{
    padding: 12px 0px 10px 300px;
    float: left;
    width: 100%;
    display: block;
}
.primaryNavigation .navigationContainer .searchBar{
    width: 70%;
    height: 40px;
    padding: 0 50px;
    float: left;
    border: #0db07a solid 2px;
    border-radius: 2px;
    font-weight: 400;
}
.primaryNavigation .navigationContainer .headerMenus{
    float: right;
    list-style: none;
    padding: 12px 15px 15px 0;
    color: #0db07a;
}
.primaryNavigation .navigationContainer .headerMenus .headerProfile{
    text-decoration: none;
}
.secondaryHeaderContainer{
    margin-top: 15px;
    width: 100%;
    height: 60px;
    background: #eeeeee;
    padding: 20px 80px 20px 80px;
}
.secondaryHeaderContainer .secondaryNavigation{
    list-style: none;
}
.secondaryHeaderContainer .secondaryNavigation li{
    display: inline-block;
    width: 13.5%;
    font-size: .75em;
    font-weight: bold;
    letter-spacing: 3px;
    text-align: center;
}
.secondaryHeaderContainer .secondaryNavigation li:first-child a{
    color: teal;
}
.secondaryHeaderContainer .secondaryNavigation li:nth-child(2) a{
    color: #00a800;
}
.secondaryHeaderContainer .secondaryNavigation li:nth-child(3) a{
    color: brown;
}
.secondaryHeaderContainer .secondaryNavigation li:nth-child(4) a{
    color: cadetblue;
}
.secondaryHeaderContainer .secondaryNavigation li:nth-child(5) a{
    color: blueviolet;
}
.secondaryHeaderContainer .secondaryNavigation li:nth-child(6) a{
    color: mediumvioletred;
}
.secondaryHeaderContainer .secondaryNavigation li:nth-child(7) a{
    color: dodgerblue;
}
.secondaryHeaderContainer .secondaryNavigation li a{
    text-decoration: none;
}
.websiteFooter{
    background: #dddddd;
}
.websiteFooter .footerContainer{
    padding: 20px;
    width: 100%;
    height: 180px;
}
.websiteFooter .footerContainer .logoContainer{
    float: left;
    width: 33%;
    text-align: center;
    padding: 65px 0;
    font-weight: bold;
    font-size: 1.5em;
    letter-spacing: 5px;
    color: #0db07a;
}
.websiteFooter .footerContainer .addressContainer{
    float: left;
    width: 33%;
    text-align: left;
}
.websiteFooter .footerContainer .addressContainer .addressHead{
    letter-spacing: 3px;
    font-size: 1em;
    color: #333333;
    font-weight: bold;
    padding: 10px;
    margin-top: 10px;
}
.websiteFooter .footerContainer .socialContainer{
    float: left;
    width: 33%;
    text-align: left;
}
.websiteFooter .footerContainer .socialContainer .socialHeader{
    letter-spacing: 3px;
    font-size: 1em;
    color: #333333;
    padding: 10px;
    margin-top: 10px;
    font-weight: bold;
}
.websiteFooter .footerContainer .socialContainer .socialimagelist{
    list-style: none;
}
.websiteFooter .footerContainer .socialContainer .socialImageListItem{
    display: inline-block;
}